
{{ $baseUrl := .Site.BaseURL }}
<!DOCTYPE html>
<html lang="{{ default .Site.LanguageCode "en-US" }}">

<head>
  {{ partial "head" . }}
</head>

<body>
<div class="centered-one-column">
	<div>
	<div class="intro">
		<div class="name-and-tags">
		<h1>{{ .Title }}</h1>
		<hr>
		</div>
	</div>
		<!-- Links -->
		{{ partial "links" . }}
		<div class="publications">
		{{ range .Data.Pages.GroupByDate "2006"}}
			<div style="display: inline-block;">
			<h2>{{ .Key }}</h3>
				<div>
				{{ range .Pages }}
					{{partial "pub.html" .}}
				{{ end }}
				</div>
			</div>
			<br>
			<br>
		{{ end }}
		</div>
		<br>
      <!-- Footer -->
      {{ partial "footer" . }}
    </div>
</div>

</body>
</html>
