{{ $baseUrl := .Site.BaseURL }}
<!DOCTYPE html>
<html lang="{{ default .Site.LanguageCode "en-US" }}">

<head>
  {{ partial "head" . }}
</head>

<body>
	<div class="centered-one-column">
	<div style="width: 100%">
	<div class="intro">
		<div class="name-and-tags">
		<h1>{{ .Title }}</h1>
		<hr>
		</div>
	</div>
	<!-- Links -->
    {{ partial "links" . }}
	<!-- Begin Content -->
	<div style="display: flex; justify-content: center;">
	{{ range .Data.Pages.GroupByDate "2006-01"}}
	<!-- <ul> -->
	{{ range .Pages }}
		<div >{{ .Date.Format "Jan 2, 2006" }}</div>
		<div class="post-item" style="margin-left: 30px;">
		<a href="{{ .Params.slug }}" class="post-link">
		{{ .Params.title }}
		{{ .Params.short_desc }}
		</a>
		</div>
	{{ end }}
	<!-- </ul> -->
	{{ end }}
	</div>
	<br>
	<!-- Footer -->
	{{ partial "footer" . }}
	</div>
	</div>

</body>
</html>