<!DOCTYPE html>
<html lang="{{ default .Site.LanguageCode "en-US" }}">

<head>
  {{ partial "head" . }}
</head>

<body>

  <div class="centered-one-column">
    <div style="width: 100%">
      <!-- Intro -->
      {{ partial "intro" . }}
      <!-- Links -->
      {{ partial "links" . }}
      <!-- News -->
      <hr>
      <div class="news">
        <div style="text-align: center; font-weight: bold;"> RECENT NEWS </div>
        {{ partial "news" . }}
        <div class="news-icon"><i class="fa fa-history"></i></div>
        <div class="text"><a href="/news/">Older news&hellip;</a></div>
      </div>
      <!-- Bio -->
      {{ partial "bio" . }}
      <!-- Footer -->
      {{ partial "footer" . }}
    </div>
  </div>

</body>
</html>
